@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .marketing-banner {background-color: #900000;padding: 8px 16px;color:#fff;}
  
.Acme{font-family: 'Acme', sans-serif;}
.Righteous{font-family: 'Righteous', cursive;}
.Boogaloo{font-family: 'Boogaloo', cursive;}
.Rancho{font-family: 'Rancho', cursive;}
.Crushed{font-family: 'Crushed', cursive;}

h1{margin-top: 5px;margin-bottom:5px;font-family:'Righteous'}  /* place class="h2-margin-bottom" on containers containing h2 elements to add margins  */
h2{margin-top: 25px;margin-bottom:25px;font-family:'Acme'}  /* place class="h2-margin-bottom" on containers containing h2 elements to add margins  */

.nowrap {white-space: nowrap;}