
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Acme|Boogaloo|Crushed|Rancho|Righteous" rel="stylesheet">
<div class="container-fluid mat-app-background">

<app-navigation></app-navigation>

<router-outlet></router-outlet>

<br/>
<!--Footer-->
<footer class="page-footer blue text-center">

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <p><a href="fonts">Fonts</a> | <a href="colors/crayola">Hexadecimal Color Codes</a> | <a href="html/codes">HTML Codes</a></p>
            <p>All trademarks displayed are the properties of their respective owner.</p>
            <p>&copy; {{year}} Copyright <span><img src="assets/x-downloaded-white-32.png"></span> BTgraphix.com</p>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
<!--
<br/>
<app-messages></app-messages>
-->
</div>