<div class="container mat-app-background">

<app-navigation></app-navigation>
<router-outlet></router-outlet>

<br/>
<!--Footer-->
<footer class="page-footer blue text-center">

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            <p><a href="">Fonts</a> | <a href="colors/crayola">Hexadecimal Color Codes</a> | <a href="#">HTML Codes</a></p>
            <p>All trademarks displayed are the properties of their respective owner.</p>
            <p>&copy; {{year}} Copyright BTgraphix.com</p>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->

<!--
<br/>
<app-messages></app-messages>
-->
</div>