<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Bangers|Alegreya+SC:400,700' rel='stylesheet' type='text/css'>

<h1>Fonts</h1>



<mat-form-field class="width-50">
		<input matInput (keyup)="searchFonts($event);" placeholder="Search All Fonts by Name">
</mat-form-field>

<mat-chip-list>
	<ul class="filters">
		<li class="badge" *ngFor="let filter of filters"
		[class.selected]="filter === selectedFilter"
		(click)="filterFontsByFilter(filter);">
		{{filter}}
		</li>
	</ul>
</mat-chip-list>

<mat-grid-list cols="{{columns}}" rowHeight="2:1.5" gutterSize="2" (window:resize)="getWindowSize()">
	<div  *ngFor="let font of fonts">
		<mat-grid-tile>
			<mat-grid-tile-header>
				<a href="//www.btgraphix.com/f2/zips/{{font.zip}}" ng-title="font.name | uppercase" on-click="logDownload( font.id )">{{font.name}}</a>
			</mat-grid-tile-header>

			<a href="//www.btgraphix.com/f2/zips/{{font.zip}}" ng-title="font.name | uppercase" on-click="logDownload( font.id )"> 
				<img src="http://www.btgraphix.com/f2/images/{{font.img}}" alt="download zip file" width="150" height="40">
			</a>
		</mat-grid-tile>
	</div>
</mat-grid-list>