<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Bangers|Alegreya+SC:400,700' rel='stylesheet' type='text/css'>

<h2>{{filter}} Font List</h2>

<mat-chip-list>
	<div *ngFor="let font of filters">
		&nbsp;<a href="list/{{font}}">{{font}}</a>&nbsp;
	</div>

	<ul class="filters">
		<li class="badge" *ngFor="let filter of filters"
		  [class.selected]="filter === selectedFilter"
		  (click)="filterFontsByFilter(filter);">
		  {{filter}}
		</li>
	</ul>
</mat-chip-list>



<div class="row">
	<div *ngFor="let font of fonts">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<a href="//www.btgraphix.com/f2/zips/{{font.zip}}" ng-title="font.name | uppercase" on-click="logDownload( font.id )">{{font.name}}</a>
			</mat-card-title>
		</mat-card-header>

			<a href="//www.btgraphix.com/f2/zips/{{font.zip}}" ng-title="font.name | uppercase" on-click="logDownload( font.id )"> 
				<img src="http://www.btgraphix.com/f2/images/{{font.img}}" alt="download zip file" width="150" height="40">
			</a>

	</mat-card>
	</div>
</div>
