<h2>Dashboard</h2>
<mat-chip-list>
	<div *ngFor="let filterString of filters">

		<!-- bind this to controller, so it works as single page application ... (click)=filterList(filterString)-->
		<mat-chip><a href="list/{{filterString}}">{{filterString}}</a></mat-chip>
		
		<a href="list/{{filterString}}">{{filterString}}</a>
	</div>
</mat-chip-list>

<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let font of fonts">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<a href="//www.btgraphix.com/f2/zips/{{font.zip}}" ng-title="font.name | uppercase" on-click="getFont( font.id )">{{ font.name }}</a>
			</mat-card-title>
		</mat-card-header>
	
		<a href="//www.btgraphix.com/f2/zips/{{font.zip}}" ng-title="font.name | uppercase" ng-click="getFont( font.id )"> 
			<img src="//www.btgraphix.com/f2/images/{{font.img}}" alt="download zip file" width="150" height="40">
		</a>
		
	</mat-card>
	</div>
</div>
