<mat-toolbar>
	
	<span><img src="assets/x-downloaded-white-32.png"></span>&nbsp;

	<div class="Righteous">BTgraphix</div>&nbsp;

	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>menu</mat-icon>
	</button>
		

	<span class="fill-remaining-space"></span>

	  <mat-menu #menu="matMenu">
		<button mat-menu-item routerLink="/fonts">
		  <span>Fonts</span>
		</button>		
		<button mat-menu-item routerLink="/colors/crayola">
		  <span>Colors Codes</span>
		</button>
		<button mat-menu-item routerLink="/html/codes">
		  <span>HTML Codes</span>
		</button>
		
	  </mat-menu>
</mat-toolbar>
		
		