<mat-toolbar>
	
	<span><img src="assets/x-downloaded-white-32.png"></span>&nbsp;

	<div class="Righteous">BTgraphix</div>&nbsp;

	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
		

	<span class="fill-remaining-space"></span>
		



	  <mat-menu #menu="matMenu">
		<button mat-menu-item routerLink="/fonts">
		  <mat-icon>view_module</mat-icon>
		  <span>Fonts</span>
		</button>		
		<button mat-menu-item routerLink="/colors/crayola">
		  <mat-icon>brush</mat-icon>
		  <span>RGB Colors</span>
		</button>
		<button mat-menu-item routerLink="/html/codes">
		  <mat-icon>translate</mat-icon>
		  <span>HTML Codes</span>
		</button>
		
	  </mat-menu>
		</mat-toolbar>
		
		